// Hamburger Mixins
// ==================================================
@mixin hamburger-size($width, $height, $spacing) {
    .hamburger-box {
        width: $width;
        height: $height * 3 + $spacing * 2;
    }
    
    .hamburger-inner {
        margin-top: $height / -2;

        &,
        &::before,
        &::after {
            width: $width;
            height: $height;
        }

        &::before { top: ($spacing + $height) * -1; }
        &::after { bottom: ($spacing + $height) * -1; }
    }
}