//
// Color system
//

$white:    #fff;
$gray-100: #f9f9f9;
$gray-200: #e9ecef;
$gray-300: #eeeeee;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #5e5e5e; //button Border
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-999: #190F2D;
$black:    #565555;




$grays: ();

// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$blue:    #211b58;
$indigo:  #001d38;
$purple:  #503d6a;
$pink:    #e83e8c;

$red:     #ea292a;
$orange:  #ea5b05;
$yellow:  #cf7807;
$yellow1: #fdb813;
$green:   #7aa93c;;
$parrot:   #a3be3b;
$teal:    #20c997;
$cyan:    #3c494e;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $green;
$secondary:     $yellow;
$success:       $green;
$info:          $purple;
$warning:       $red;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-600;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;


// CUSTOM
////

$yellow-dark:                   #F4CF49; 
//$orange:                        #FFA237; // #F2B500;

// Social Media
$facebook:                      #3B5998;
$twitter:                       #4099FF;
$linkedin:                      #04669A;
$pinterest:                     #C92228;
$instagram:                     #2C6A93; //517fa4
$google-plus:                   #C20806;

$gradient:linear-gradient(to bottom, $red,$blue);