// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Abs Center
@mixin abs-center($width) {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: $width; 
}


// Flex Center
@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin flex-center-row() {
    display: flex;
    justify-content: center;
}

@mixin flex-middle() {
    display: flex;
    align-items: center;
}

@mixin flex-end() {
    display: flex;
    align-items: flex-end;
}

@mixin flex-column-middle() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column-end() {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}