@mixin color-comb($background, $color) {
    background: $background;
    color: $color;

    h1,
    .subtitle,
    .content { color: $color; }

    &.inverted {
        color: $background;
        background: $color;
    }
}


@mixin color-banner-global-styling($color-palette) {

    $primary-bg     : map-get($color-palette, "primary-bg");
    $secondary-bg   : map-get($color-palette, "secondary-bg");
    $text-color     : map-get($color-palette, "text-color"); 
    $text-accent    : map-get($color-palette, "text-accent");
    $text-narrow    : map-get($color-palette, "text-narrow");

    @include text-selection($secondary-bg, #fff);

    &.primary-bg,
    .primary-bg { background: $primary-bg; }

    &.secondary-bg,
    .secondary-bg { background: $secondary-bg; }

/*    .fill-primary,
    .st0 { fill: $text-accent; }

    .fill-secondary,
    .st1 { fill: $secondary-bg; }*/

    .text-color  { color: $text-color; }
    .text-accent { color: $text-accent; }
    .text-narrow   { color: $text-narrow; }

    .img-filter {

        &:after,
            &:before { background: $primary-bg;}
    }

    .cs-meta {

        &:after,
            &:before { background: darken($primary-bg, 3%);}
    }

    .cs-title { @include hover-transition(); }

    .cs-title { 

        &:hover { color: $text-accent; }
        &.hover-revert:hover { color: $text-color; }
        &.hover-darken:hover { color: darken($text-color, 20%); }
    }

    .cs-excerpt:before { background-color: $text-color; }

    .cs-more { 
        transition: color 0.3s;
        perspective: 600px;
        perspective-origin: 50% 100%;
        color: $text-narrow;

        &:before {
            background-color: $text-narrow;
            transition: transform 0.2s;
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            transform: rotateX(90deg);
            transform-origin: 50% 100%;
        }

        &:before,
            &:after {
            border-bottom: 3px solid $text-narrow;
            position: absolute;
            top: 0;
            left: -4px;
            z-index: -1;
            box-sizing: content-box;
            padding: 0 4px;
            width: 100%;
            height: 100%;
            content: '';
        }
    }

    .cover-story:hover .cs-more {
        color: $white;
        
        &:before { transform: rotateX(0deg); }
    }
}

@mixin newsletter-global-styling($color-palette) {

    $primary-bg     : map-get($color-palette, "primary-bg");
    $secondary-bg   : map-get($color-palette, "secondary-bg");
    $text-color     : map-get($color-palette, "text-color"); 
    $text-accent    : map-get($color-palette, "text-accent");
    $text-narrow      : map-get($color-palette, "text-narrow");

    @include text-selection($primary-bg, #fff);
    
    & ,.primary-bg { background: $primary-bg; }
    
    .cs-title { color: $text-color; }
    
    .cs-form form {

        button { border: 2px solid $text-color; }
        label { color: $text-accent; }
        input, textarea, button {color: $text-color}
        input { 
            border: 0px solid $white;

            &:focus + label {
                background: $secondary-bg;
                color : $text-narrow;
            }
        }
        
        button:hover{
            background-color: $secondary-bg;
            border-color: transparent;
            color: $text-narrow;
            cursor: pointer;
        }
    }
}
