@mixin mb-shadow-1() {
    box-shadow: 0 1px 3px rgba(48,48,48,0.12), 0 1px 2px rgba(48,48,48,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &:hover { box-shadow: 0 14px 28px rgba(48,48,48,0.25), 0 10px 10px rgba(48,48,48,0.22); }
}

@mixin mb-shadow-2() {
    box-shadow: 0 3px 6px rgba(48,48,48,0.16), 0 3px 6px rgba(48,48,48,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &:hover { box-shadow: 0 14px 28px rgba(48,48,48,0.25), 0 10px 10px rgba(48,48,48,0.22); }
}

@mixin mb-shadow-3() {
    box-shadow: 0 10px 20px rgba(48,48,48,0.19), 0 6px 6px rgba(48,48,48,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &:hover { box-shadow: 0 14px 28px rgba(48,48,48,0.25), 0 10px 10px rgba(48,48,48,0.22); }
}

@mixin mb-shadow-4() {
    box-shadow: 0 14px 28px rgba(48,48,48,0.25), 0 10px 10px rgba(48,48,48,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &:hover { box-shadow: 0 19px 38px rgba(48,48,48,0.30), 0 15px 12px rgba(48,48,48,0.22); }
}