/*------------------------------------------------------------------------------
Media Queries

1. Widths
    - iPhone 5              - 320px
    - Galaxy Note 3/S5      - 360px
    - iPhone 6/7/8          - 375px
    - iPhone X/XS           - 375px
    - LG Optimus L70        - 384px
    - Galaxy S9             - 360px
    - Pixel 2XL             - 411px
    - Pixel 2               - 411px
    - Nexus 5X/6P           - 412px
    - iPhone 6/7/8 Plus     - 414px
    - Galaxy Note 9         - 414px
    - iPhone XS Max         - 414px
    - Nexus 7               - 600px
    - iPad/Mini             - 768px
    - iPad Pro 10.5         - 800px
    - Kindle Fire/Nexus 10  - 834px
    - Kindle Fire/Nexus 10  - 1024px

------------------------------------------------------------------------------*/

@mixin w320() { @media only screen and (min-width: 320px) { @content; } }
@mixin w360() { @media only screen and (min-width: 360px) { @content; } }
@mixin w375() { @media only screen and (min-width: 375px) { @content; } }
@mixin w384() { @media only screen and (min-width: 384px) { @content; } }
@mixin w411() { @media only screen and (min-width: 411px) { @content; } }
@mixin w414() { @media only screen and (min-width: 414px) { @content; } }
@mixin w568() { @media only screen and (min-width: 568px) { @content; } }
@mixin w600() { @media only screen and (min-width: 600px) { @content; } }
@mixin w640() { @media only screen and (min-width: 640px) { @content; } }
@mixin w667() { @media only screen and (min-width: 667px) { @content; } }
@mixin w736() { @media only screen and (min-width: 736px) { @content; } }
@mixin w768() { @media only screen and (min-width: 768px) { @content; } }
@mixin w800() { @media only screen and (min-width: 800px) { @content; } }
@mixin w812() { @media only screen and (min-width: 812px) { @content; } }
@mixin w834() { @media only screen and (min-width: 834px) { @content; } }
@mixin w896() { @media only screen and (min-width: 896px) { @content; } }
@mixin w960() { @media only screen and (min-width: 960px) { @content; } }
@mixin w992() { @media only screen and (min-width: 992px) { @content; } }
@mixin w1024() { @media only screen and (min-width: 1024px) { @content; } }
@mixin w1112() { @media only screen and (min-width: 1112px) { @content; } }
@mixin w1280() { @media only screen and (min-width: 1280px) { @content; } }
@mixin w1400() { @media only screen and (min-width: 1400px) { @content; } }
@mixin w1920() { @media only screen and (min-width: 1920px) { @content; } }


@mixin h320() { @media only screen and (min-height: 320px) { @content; } }
@mixin h360() { @media only screen and (min-height: 360px) { @content; } }
@mixin h375() { @media only screen and (min-height: 375px) { @content; } }
@mixin h384() { @media only screen and (min-height: 384px) { @content; } }
@mixin h411() { @media only screen and (min-height: 411px) { @content; } }
@mixin h414() { @media only screen and (min-height: 414px) { @content; } }
@mixin h568() { @media only screen and (min-height: 568px) { @content; } }
@mixin h600() { @media only screen and (min-height: 600px) { @content; } }
@mixin h640() { @media only screen and (min-height: 640px) { @content; } }
@mixin h667() { @media only screen and (min-height: 667px) { @content; } }
@mixin h736() { @media only screen and (min-height: 736px) { @content; } }
@mixin h768() { @media only screen and (min-height: 768px) { @content; } }
@mixin h800() { @media only screen and (min-height: 800px) { @content; } }
@mixin h812() { @media only screen and (min-height: 812px) { @content; } }
@mixin h834() { @media only screen and (min-height: 834px) { @content; } }
@mixin h896() { @media only screen and (min-height: 896px) { @content; } }
@mixin h960() { @media only screen and (min-height: 960px) { @content; } }
@mixin h1024() { @media only screen and (min-height: 1024px) { @content; } }
@mixin h1112() { @media only screen and (min-height: 1112px) { @content; } }
@mixin h1280() { @media only screen and (min-height: 1280px) { @content; } }
@mixin h1336() { @media only screen and (min-height: 1336px) { @content; } }