// Text Selection
@mixin text-selection($bg, $color) {
    ::-moz-selection {
        background: $bg;
        color: $color; 
    }

    ::selection {
        background: $bg;
        color: $color; 
    }
}