// Site Header Size
@mixin site-header-size($site-padding, $logo-size, $ham-width, $ham-height, $ham-spacing) {
    .mini-logo-wrap {
        top: ($site-padding - $logo-size)/2;
        left: ($site-padding - $logo-size)/2;

        .mini-logo-circle { 
            height: $logo-size; 
            width: $logo-size; 
        }

        .mini-logo svg { 
            width: $logo-size * $logo-padding-ratio; 
            height: $logo-size * $logo-padding-ratio; 
        }
    }
    
    .hamburger-wrap {
        width: $logo-size;
        height: $logo-size;
        top: ($site-padding - $logo-size)/2;
        right: ($site-padding - $logo-size)/2;
    }

    .hamburger { @include hamburger-size($ham-width, $ham-height, $ham-spacing); }
}