@mixin underliner($size, $color:'#fff' , $time:0.3s, $style: 'center') {
    
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    /*line-height: 1;*/
    transition: color $time;

    &:hover {
        outline: none;
        transition: color $time;

        &:before {
            left: 0;
            right: 0;
        }
    }

    &:before {
        content: "";
        position: absolute;
        /*z-index: -1;*/
        bottom: 0;
        background: $color;
        height: $size;
        transition-property: "left, right";
        transition-duration: $time;
        transition-timing-function: ease-out;
        
        @if $style == 'center' {
            left: 50%;
            right: 50%;

        // if width is not passed, or empty do this

        } @else {
            left: 0%;
            right: 100%;
        }
    }
}

@mixin underliner-size($size) {
    background-size: 100% $size;
    
    &:hover { background-size: 100% 90%; }
}

@mixin underliner-color($color) {
    background-image: linear-gradient(0, $color 0%, $color 100%);
}

@mixin underliner-seprator($color, $position, $size:$site-padding, $width: 50%) {
    position: relative;
    margin-bottom: $size;

    &:after {
        content: '';
        width: $width;
        max-width: 120px;
        height: 6px;
        background: $color;
        position: absolute;
        bottom: -$size/2;
        mask-image: url(/images/svg/seprator.svg);
        mask-repeat: no-repeat;
        mask-position: bottom center;
        @if ($position == 'center'){
            left: calc(50% - 60px);
        } @elseif ($position == 'right'){
            left: calc(100% - 120px);
        }@else {left: 0;}
        
        @include media-breakpoint-down(md) {
            max-width: 80px;
            
            @if ($position == 'center'){
                left: calc(50% - 40px);
            } @elseif ($position == 'right'){
                left: calc(100% - 80px);
            }@else {left: 0;}
        }
    }
}
    
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@mixin underliner_shape($size) {
    background-size: 100% $size;
    background-repeat: no-repeat;
    background-position: 0 90%;
    transition: background-size 0.15s ease-out;

    &:hover {
        background-size: 100% 90%;
        transition: background-size 0.15s ease-in;
    }
}

@mixin svg-add-fill($svg, $fill-new) {
    
    $data-uri: 'data:image/svg+xml;utf8,' + $svg;
    $replace-fill: str-replace($data-uri, 'fill:', 'fill:#{$fill-new};//');
    
    //$escape-fill-default: '<path ';
    //$escape-fill-new: '<path fill="#{$fill-new}" ';
    //$replace-src: str-replace($replace-fill, $escape-fill-default, $escape-fill-new);
    //background-image: url('#{$replace-src}');
    
    background-image: url('#{$replace-fill}');
}
