/*------------------------------------------------------------------------------
## Site Navigation
------------------------------------------------------------------------------*/

.main-nav {
    width: 100%;
}

.icon-menu::before {
    content: '\e85d';
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    display: flex;
    justify-content: center;
    line-height: 1.8;

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    li {
        position: relative;

        &.megamenu-container {
            position: static;
        }
    }

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        margin-top: 1px;

        ul {
            top: -1rem;
            left: 100%;
        }
    }

    .megamenu {
        display: none;
        position: absolute;
        left: 15px;
        right: 15px;
        top: 100%;
        z-index: 99;
        margin-top: 1px;

        .container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 0 15px;
        }

        &.megamenu-fixed-width {
            right: auto;
            left: 0;
            width: 640px;
        }
    }

    a {
        display: block;
        position: relative;
        text-decoration: none;
    }

    li {
        &.show {
            .megamenu, ul {
                display: block;
            }
        }

        &:hover {
            .megamenu, ul {
                display: block;
            }
        }

        padding-right: 1rem;
        padding-left: 1rem;

        a {
            display: block;
            padding: .7rem 1rem;
            transition: background .25s;
            color: #696969;
            font-size: 1.25rem;
            letter-spacing: .5px;
            font-weight: 600;
            text-transform: capitalize;
            white-space: nowrap;
        }

        .menu-title {
            margin-top: 1.25rem;
            margin-bottom: 0;
            color: #434d53;
            letter-spacing: -.01rem;
            text-transform: uppercase;

            a {
                font-size: 1.4rem;
                padding: .7rem 2rem;
                font-weight: 600;
                letter-spacing: .5px;
                font-family: Poppins, sans-serif;
                color: #000;
                text-transform: uppercase;

                &:focus, &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    > li {
        padding-right: 0;
        padding-left: 0;

        > a {
            font-weight: 700;
            background-color: transparent;
            color: #333;
            padding: 2.2rem .2rem;
            letter-spacing: 0.01rem;
        }

        + li {
            margin-left: 3.3rem;
        }
    }

    &.sf-arrows {
        > li > a.sf-with-ul {
            padding-right: 1.4rem;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: -1px;
                left: 0;
                visibility: hidden;
                background-color: $primary;
                opacity: 0;
            }
        }

        .sf-with-ul {
            position: relative;

            &::after {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -1px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                font-family: "revicons";
                font-style: normal;
                font-weight: normal;
                content: '\e83b';
                font-size: 1rem;
                line-height: 1;
                
            }
        }

        ul .sf-with-ul::after {
            right: 1rem;
            content: '\e81a';
        }
    }

    .megamenu {
        background-color: #fff;
        box-shadow: 0 29px 29px rgba(0, 0, 0, 0.1);
    }

    ul {
        background-color: #fff;
        box-shadow: 0 29px 29px rgba(0, 0, 0, 0.1);
        min-width: 240px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .megamenu {
        padding: 1rem;

        ul {
            display: block;
            position: static;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            min-width: 0;
            margin: 0 0 1.25rem;
            padding: 0;
            box-shadow: none;
        }

        .banner {
            width: 100%;
            height: 100%;
            margin-bottom: 0;
            background-color: transparent;

            a {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }

            img {
                position: absolute;
                height: 100%;

                &.product-promo {
                    padding: 1rem;
                }
            }
        }
    }

    li {
        &.active > a, &.show > a, &:hover > a {
            background-color: #f4f4f4;
            color: #696969;
        }
    }

    > li {
        &.active > a, &.show > a, &:hover > a {
            background-color: transparent;
            color: $primary;
        }
    }

    &.sf-arrows > li.show > a.sf-with-ul::before {
        opacity: 1;
        visibility: visible;
    }

    .show {
        .megamenu, ul {
            opacity: 1 !important;
        }
    }
}

.tip {
    color: #fff;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding: .3rem .4rem;
    z-index: 1;
    border-radius: 0;
    line-height: 1;
    margin: -2px 0 0 1rem;
    vertical-align: middle;
    text-transform: uppercase;

    &::before {
        position: absolute;
        top: 50%;
        right: 100%;
        left: auto;
        margin-top: -3px;
        border: 3px solid transparent;
        content: "";
    }
}

.menu > li > a .tip {
    position: absolute;
    top: -4px;
    right: 22px;
    margin: 0;

    &::before {
        position: absolute;
        top: 100%;
        left: 3px;
        width: 3px;
        height: 3px;
        margin: 0;
        border-color: transparent;
    }
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 250px;
    transform: translateX(-100%);
    transition: all .35s;
    background-color: #1d1e20;
    font-size: 1.2rem;
    line-height: 1.5;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(50, 50, 50, 0.65);
    visibility: hidden;
    z-index: 1001;
    overflow-y: auto;
}

.mmenu-active .mobile-menu-container {
    transform: translateX(0);
    visibility: visible;
}

.mobile-menu-container {
    .social-icons {
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .social-icon {
        width: 3rem;
        height: 3rem;
        margin-bottom: 0;
        border: 0;
        background-color: transparent;
        font-size: 1.5rem;

        + .social-icon {
            margin-left: 0.3rem;
        }

        &:focus, &:hover {
            background-color: transparent;
            color: #fafafa;
        }
    }
}

.mobile-menu-wrapper {
    position: relative;
    padding: 4.2rem 0 3rem;
}

.mobile-menu-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .4rem;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1;
    cursor: pointer;
    z-index: 9;
}

.mobile-menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .4s;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.mmenu-active .mobile-menu-overlay {
    opacity: 1;
    visibility: visible;
}

.mobile-nav {
    margin: 0 0 2rem;
    padding: 0;
}

.mobile-menu {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #242527;
    list-style: none;

    > li > a {
        text-transform: uppercase;
    }

    li {
        display: block;
        position: relative;
        border-top: 1px solid #242527;

        a {
            display: block;
            position: relative;
            margin-right: 4.5rem;
            padding: 1.1rem 0 1.1rem 1.5rem;
            color: #fff;

            &:focus, &:hover {
                color: $primary;
                text-decoration: none;
            }
        }

        &.active > a, &.open > a {
            color: $primary;
        }

        ul {
            display: none;
            margin: 0;
            padding: 0;

            li a {
                padding-left: 2.5rem;
            }

            ul li a {
                padding-left: 3.5rem;
            }
        }
    }
}

.mmenu-btn {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    right: -3.8rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;

    &::after {
        display: inline-block;
        margin-top: -2px;
        font-family: "revicons";
        font-style: normal;
        font-weight: normal;
        content: '\e83b';
    }
}

.open > a > .mmenu-btn::after {
    font-family: "revicons";
    font-style: normal;
    font-weight: normal;
    content: '\e83b';
}
