/*------------------------------------------------------------------------------
## Site Header
------------------------------------------------------------------------------*/
/* Title Area
--------------------------------------------- */
:root {  font-size: 10px; }
.page-wrapper{
    margin-bottom: 1000px;
}
.header {
    border-top: .3rem solid $primary;
    border-bottom: .1rem solid #f3f3f3;
    background-color: #fff;

    .container, .container-fluid {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    .btn-remove::before {
        display: none;
    }
}

.header-center, .header-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.header-center {
    margin-right: auto;
    margin-left: auto;
}

.header-top {
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: .025rem;
    color: #999;
    border-bottom: 2px solid #e7e7e7;
    padding-top: .4rem;
    padding-bottom: 0.4rem;

    a {
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: inherit;
    }
}

.welcome-msg {
    display: none;
    position: relative;
    margin: .3rem 2rem .3rem 0;
    text-transform: uppercase;

    &::after {
        position: absolute;
        top: 50%;
        right: -14px;
        height: 11px;
        margin-top: -5.5px;
        border-right: 1px solid;
        content: '';
        opacity: 0.8;
    }
}

.header-middle {
    padding-top: 3rem;
    padding-bottom: 1.9rem;

    .header-left {
        flex: 2;
    }

    .header-right {
        flex: 2;
        justify-content: flex-end;
    }
}

.logo {
    display: block;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.header-dropdown {
    position: relative;
    text-transform: uppercase;

    > a {
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 1.1rem;

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            margin-top: -2px;
            margin-left: .6rem;
            border-width: 4px 3px 0;
            border-style: solid;
            border-color: #999 transparent transparent;
            content: "";
        }
    }

    a {
        color: #6d6d6d;

        img {
            display: inline-block;
            max-width: 16px;
            height: auto;
            margin-right: 0.6rem;
        }

        &:focus, &:hover {
            text-decoration: none;
        }
    }
}

.header-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    padding-top: .4rem;
    padding-bottom: .4rem;
    transition: all .25s;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}

.header-right .header-menu {
    right: 0;
    left: auto;
}

.header-dropdown:hover > .header-menu {
    opacity: 1;
    visibility: visible;
}

.header-menu {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            margin: 0;
        }

        a {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 2px 9px;
            white-space: nowrap;
        }
    }

    a {
        color: inherit;

        &:focus, &:hover {
            background-color: #ccc;
            color: #fff;
        }
    }
}


.header-bottom {
    position: relative;

    .container, .container-fluid {
        position: relative;
    }

    .cart-dropdown {
        display: none;
    }

    .logo {
        display: none;
        margin-right: 2.5rem;

        img {
            width: auto;
            max-height: 32px;
        }
    }
}

.mobile-menu-toggler {
    border: 0;
    background: 0 0;
    color: #333;
    padding: 1rem .5rem;
    font-size: 2.1rem;
    line-height: 1;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 1.5rem;
    cursor: pointer;

    i::before {
        margin: 0;
    }
}


@media screen and (min-width: 992px) {
    .dropdown-expanded {
        > a {
            display: none;
        }

        .header-menu {
            position: static;
            top: auto;
            right: auto;
            left: auto;
            padding: 0;
            border: 0;
            background-color: transparent;
            box-shadow: none;
            opacity: 1;
            visibility: visible;

            ul {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;

                li + li {
                    margin-left: 3rem;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: -14px;
                        height: 11px;
                        margin-top: -5.5px;
                        border-right: 1px solid;
                        content: '';
                        opacity: 0.8;
                    }
                }

                a {
                    padding: 0;
                }
            }

            a {
                color: inherit;

                &:focus, &:hover {
                    background-color: transparent;
                    color: #999;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header-center {
        margin-right: 0;
        margin-left: auto;
    }

    .header-middle {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .header-bottom {
        display: none;
    }

    .mobile-menu-toggler {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .header-contact {
        display: none;
    }

    .header-search {
        .header-search-wrapper { width: 380px; }

        .select-custom { flex: 0 0 132px;}

        .btn { flex: 0 0 40px; }
    }

    .mobile-menu-toggler {
        margin-right: 0.6rem;
    }
}


@-webkit-keyframes fixedHeader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fixedHeader {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sticky-header {
    &.fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-bottom: .1rem solid #f3f3f3;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1040;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-name: fixedHeader;
        animation-name: fixedHeader;

        .main-nav {
            width: auto;
            background-color: transparent;
        }

        .menu > li > a {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .cart-dropdown, .logo {
            display: block;
        }
    }

    &.fixed-nav {
        position: fixed;
        top: 47px;
        right: 0;
        left: 0;
        height: 38px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        z-index: 1039;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-name: fixedHeader;
        animation-name: fixedHeader;

        .container {
            margin: 0 auto;
            padding-left: 1.5rem;
        }
    }
}

@media screen and (max-width: 991px) {
    .sticky-header.fixed-nav {
        top: 0;
    }
}

@media screen and (max-width: 575px) {
    .sticky-header.fixed-nav {
        display: none;
    }
}