@charset "UTF-8";
/*
 * Simplybe v1.0
 * 
 * @author: Naghman Ali
 * @author URI: https://www.linkedin.com/in/chaudhry-naghman-ali/

License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*------------------------------------------------------------------------------
>>> TABLE OF CONTENTS:
--------------------------------------------------------------------------------
# Keyframes
    ## intervalHamburger
# Fonts
    ## icomoons
# Components
    ## Header

------------------------------------------------------------------------------*/
/*@import "../_functions/_functions.scss"; // Required Functions To Process Other Variables
@import "_options.scss";
@import "_spacing.scss";
@import "_body.scss";
@import "_links.scss";
//@import "_paragraphs.scss";
@import "_grid.scss";
@import "_components.scss";
@import "_fonts.scss";
//@import "_tables.scss";
@import "_buttons-forms.scss";
@import "_dropdowns.scss";
//@import "_z-index.scss";
@import "_navs.scss";
@import "_pagination.scss";
@import "_cards.scss";
@import "_tooltips.scss";
@import "_popovers.scss";
@import "_modals.scss";
@import "_progress-bars.scss";
@import "_list-group.scss";
@import "_image-thumbnails.scss";
@import "_figures.scss";
@import "_breadcrumbs.scss";
@import "_carousel.scss";
@import "_close.scss";
@import "_code.scss";
@import "_printing.scss";
@import "_site-padding.scss";
@import "_site-header.scss";*/
/*------------------------------------------------------------------------------
Media Queries

1. Widths
    - iPhone 5              - 320px
    - Galaxy Note 3/S5      - 360px
    - iPhone 6/7/8          - 375px
    - iPhone X/XS           - 375px
    - LG Optimus L70        - 384px
    - Galaxy S9             - 360px
    - Pixel 2XL             - 411px
    - Pixel 2               - 411px
    - Nexus 5X/6P           - 412px
    - iPhone 6/7/8 Plus     - 414px
    - Galaxy Note 9         - 414px
    - iPhone XS Max         - 414px
    - Nexus 7               - 600px
    - iPad/Mini             - 768px
    - iPad Pro 10.5         - 800px
    - Kindle Fire/Nexus 10  - 834px
    - Kindle Fire/Nexus 10  - 1024px

------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
## Revolution Icons
------------------------------------------------------------------------------*/
@font-face {
  font-family: 'revicons';
  src: url("../fonts/revicons/revicons.eot?5510888");
  src: url("../fonts/revicons/revicons.eot?5510888#iefix") format("embedded-opentype"), url("../fonts/revicons/revicons.woff?5510888") format("woff"), url("../fonts/revicons/revicons.ttf?5510888") format("truetype"), url("../fonts/revicons/revicons.svg?5510888#revicons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="revicon-"]:before, [class*=" revicon-"]:before {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.revicon-search-1:before {
  content: '\e802'; }

/* '' */
.revicon-pencil-1:before {
  content: '\e831'; }

/* '' */
.revicon-picture-1:before {
  content: '\e803'; }

/* '' */
.revicon-cancel:before {
  content: '\e80a'; }

/* '' */
.revicon-info-circled:before {
  content: '\e80f'; }

/* '' */
.revicon-trash:before {
  content: '\e801'; }

/* '' */
.revicon-left-dir:before {
  content: '\e817'; }

/* '' */
.revicon-right-dir:before {
  content: '\e818'; }

/* '' */
.revicon-down-open:before {
  content: '\e83b'; }

/* '' */
.revicon-left-open:before {
  content: '\e819'; }

/* '' */
.revicon-right-open:before {
  content: '\e81a'; }

/* '' */
.revicon-angle-left:before {
  content: '\e820'; }

/* '' */
.revicon-angle-right:before {
  content: '\e81d'; }

/* '' */
.revicon-left-big:before {
  content: '\e81f'; }

/* '' */
.revicon-right-big:before {
  content: '\e81e'; }

/* '' */
.revicon-magic:before {
  content: '\e807'; }

/* '' */
.revicon-picture:before {
  content: '\e800'; }

/* '' */
.revicon-export:before {
  content: '\e80b'; }

/* '' */
.revicon-cog:before {
  content: '\e832'; }

/* '' */
.revicon-login:before {
  content: '\e833'; }

/* '' */
.revicon-logout:before {
  content: '\e834'; }

/* '' */
.revicon-video:before {
  content: '\e805'; }

/* '' */
.revicon-arrow-combo:before {
  content: '\e827'; }

/* '' */
.revicon-left-open-1:before {
  content: '\e82a'; }

/* '' */
.revicon-right-open-1:before {
  content: '\e82b'; }

/* '' */
.revicon-left-open-mini:before {
  content: '\e822'; }

/* '' */
.revicon-right-open-mini:before {
  content: '\e823'; }

/* '' */
.revicon-left-open-big:before {
  content: '\e824'; }

/* '' */
.revicon-right-open-big:before {
  content: '\e825'; }

/* '' */
.revicon-left:before {
  content: '\e836'; }

/* '' */
.revicon-right:before {
  content: '\e826'; }

/* '' */
.revicon-ccw:before {
  content: '\e808'; }

/* '' */
.revicon-arrows-ccw:before {
  content: '\e806'; }

/* '' */
.revicon-palette:before {
  content: '\e829'; }

/* '' */
.revicon-list-add:before {
  content: '\e80c'; }

/* '' */
.revicon-doc:before {
  content: '\e809'; }

/* '' */
.revicon-left-open-outline:before {
  content: '\e82e'; }

/* '' */
.revicon-left-open-2:before {
  content: '\e82c'; }

/* '' */
.revicon-right-open-outline:before {
  content: '\e82f'; }

/* '' */
.revicon-right-open-2:before {
  content: '\e82d'; }

/* '' */
.revicon-equalizer:before {
  content: '\e83a'; }

/* '' */
.revicon-layers-alt:before {
  content: '\e804'; }

/* '' */
.revicon-popup:before {
  content: '\e828'; }

/* '' */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger:focus {
    outline: 0; }
  .hamburger .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  .hamburger .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      -o-transition-property: transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      -webkit-transition-duration: 0.15s;
      -o-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
    .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger .hamburger-inner::before {
      top: -10px; }
    .hamburger .hamburger-inner::after {
      bottom: -10px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  -o-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*------------------------------------------------------------------------------
# Components
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
## Site Header
------------------------------------------------------------------------------*/
/* Title Area
--------------------------------------------- */
:root {
  font-size: 10px; }

.page-wrapper {
  margin-bottom: 1000px; }

.header {
  border-top: 0.3rem solid #7aa93c;
  border-bottom: .1rem solid #f3f3f3;
  background-color: #fff; }
  .header .container, .header .container-fluid {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
  .header .btn-remove::before {
    display: none; }

.header-center, .header-left {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.header-right {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto; }

.header-center {
  margin-right: auto;
  margin-left: auto; }

.header-top {
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: .025rem;
  color: #999;
  border-bottom: 2px solid #e7e7e7;
  padding-top: .4rem;
  padding-bottom: 0.4rem; }
  .header-top a {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: inherit; }

.welcome-msg {
  display: none;
  position: relative;
  margin: .3rem 2rem .3rem 0;
  text-transform: uppercase; }
  .welcome-msg::after {
    position: absolute;
    top: 50%;
    right: -14px;
    height: 11px;
    margin-top: -5.5px;
    border-right: 1px solid;
    content: '';
    opacity: 0.8; }

.header-middle {
  padding-top: 3rem;
  padding-bottom: 1.9rem; }
  .header-middle .header-left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .header-middle .header-right {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.logo {
  display: block; }
  .logo img {
    display: block;
    max-width: 100%;
    height: auto; }

.header-dropdown {
  position: relative;
  text-transform: uppercase; }
  .header-dropdown > a {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 1.1rem; }
    .header-dropdown > a::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      margin-top: -2px;
      margin-left: .6rem;
      border-width: 4px 3px 0;
      border-style: solid;
      border-color: #999 transparent transparent;
      content: ""; }
  .header-dropdown a {
    color: #6d6d6d; }
    .header-dropdown a img {
      display: inline-block;
      max-width: 16px;
      height: auto;
      margin-right: 0.6rem; }
    .header-dropdown a:focus, .header-dropdown a:hover {
      text-decoration: none; }

.header-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  padding-top: .4rem;
  padding-bottom: .4rem;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: 20; }

.header-right .header-menu {
  right: 0;
  left: auto; }

.header-dropdown:hover > .header-menu {
  opacity: 1;
  visibility: visible; }

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .header-menu ul li {
    position: relative;
    margin: 0; }
  .header-menu ul a {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 2px 9px;
    white-space: nowrap; }

.header-menu a {
  color: inherit; }
  .header-menu a:focus, .header-menu a:hover {
    background-color: #ccc;
    color: #fff; }

.header-bottom {
  position: relative; }
  .header-bottom .container, .header-bottom .container-fluid {
    position: relative; }
  .header-bottom .cart-dropdown {
    display: none; }
  .header-bottom .logo {
    display: none;
    margin-right: 2.5rem; }
    .header-bottom .logo img {
      width: auto;
      max-height: 32px; }

.mobile-menu-toggler {
  border: 0;
  background: 0 0;
  color: #333;
  padding: 1rem .5rem;
  font-size: 2.1rem;
  line-height: 1;
  display: none;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 1.5rem;
  cursor: pointer; }
  .mobile-menu-toggler i::before {
    margin: 0; }

@media screen and (min-width: 992px) {
  .dropdown-expanded > a {
    display: none; }
  .dropdown-expanded .header-menu {
    position: static;
    top: auto;
    right: auto;
    left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible; }
    .dropdown-expanded .header-menu ul {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center; }
      .dropdown-expanded .header-menu ul li + li {
        margin-left: 3rem; }
        .dropdown-expanded .header-menu ul li + li::before {
          position: absolute;
          top: 50%;
          left: -14px;
          height: 11px;
          margin-top: -5.5px;
          border-right: 1px solid;
          content: '';
          opacity: 0.8; }
      .dropdown-expanded .header-menu ul a {
        padding: 0; }
    .dropdown-expanded .header-menu a {
      color: inherit; }
      .dropdown-expanded .header-menu a:focus, .dropdown-expanded .header-menu a:hover {
        background-color: transparent;
        color: #999;
        text-decoration: underline; } }

@media screen and (max-width: 991px) {
  .header-center {
    margin-right: 0;
    margin-left: auto; }
  .header-middle {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .header-bottom {
    display: none; }
  .mobile-menu-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 767px) {
  .header-contact {
    display: none; }
  .header-search .header-search-wrapper {
    width: 380px; }
  .header-search .select-custom {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 132px;
    flex: 0 0 132px; }
  .header-search .btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px; }
  .mobile-menu-toggler {
    margin-right: 0.6rem; } }

@-webkit-keyframes fixedHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fixedHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.sticky-header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: .1rem solid #f3f3f3;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1040;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: fixedHeader;
  animation-name: fixedHeader; }
  .sticky-header.fixed .main-nav {
    width: auto;
    background-color: transparent; }
  .sticky-header.fixed .menu > li > a {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .sticky-header.fixed .cart-dropdown, .sticky-header.fixed .logo {
    display: block; }

.sticky-header.fixed-nav {
  position: fixed;
  top: 47px;
  right: 0;
  left: 0;
  height: 38px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1039;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: fixedHeader;
  animation-name: fixedHeader; }
  .sticky-header.fixed-nav .container {
    margin: 0 auto;
    padding-left: 1.5rem; }

@media screen and (max-width: 991px) {
  .sticky-header.fixed-nav {
    top: 0; } }

@media screen and (max-width: 575px) {
  .sticky-header.fixed-nav {
    display: none; } }

/*------------------------------------------------------------------------------
## Site Navigation
------------------------------------------------------------------------------*/
.main-nav {
  width: 100%; }

.icon-menu::before {
  content: '\e85d'; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.8; }
  .menu * {
    margin: 0;
    padding: 0;
    list-style: none; }
  .menu::after {
    display: block;
    clear: both;
    content: ""; }
  .menu li {
    position: relative; }
    .menu li.megamenu-container {
      position: static; }
  .menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    margin-top: 1px; }
    .menu ul ul {
      top: -1rem;
      left: 100%; }
  .menu .megamenu {
    display: none;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 100%;
    z-index: 99;
    margin-top: 1px; }
    .menu .megamenu .container {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px; }
    .menu .megamenu.megamenu-fixed-width {
      right: auto;
      left: 0;
      width: 640px; }
  .menu a {
    display: block;
    position: relative;
    text-decoration: none; }
  .menu li {
    padding-right: 1rem;
    padding-left: 1rem; }
    .menu li.show .megamenu, .menu li.show ul {
      display: block; }
    .menu li:hover .megamenu, .menu li:hover ul {
      display: block; }
    .menu li a {
      display: block;
      padding: .7rem 1rem;
      -webkit-transition: background .25s;
      -o-transition: background .25s;
      transition: background .25s;
      color: #696969;
      font-size: 1.25rem;
      letter-spacing: .5px;
      font-weight: 600;
      text-transform: capitalize;
      white-space: nowrap; }
    .menu li .menu-title {
      margin-top: 1.25rem;
      margin-bottom: 0;
      color: #434d53;
      letter-spacing: -.01rem;
      text-transform: uppercase; }
      .menu li .menu-title a {
        font-size: 1.4rem;
        padding: .7rem 2rem;
        font-weight: 600;
        letter-spacing: .5px;
        font-family: Poppins, sans-serif;
        color: #000;
        text-transform: uppercase; }
        .menu li .menu-title a:focus, .menu li .menu-title a:hover {
          text-decoration: underline; }
  .menu > li {
    padding-right: 0;
    padding-left: 0; }
    .menu > li > a {
      font-weight: 700;
      background-color: transparent;
      color: #333;
      padding: 2.2rem .2rem;
      letter-spacing: 0.01rem; }
    .menu > li + li {
      margin-left: 3.3rem; }
  .menu.sf-arrows > li > a.sf-with-ul {
    padding-right: 1.4rem; }
    .menu.sf-arrows > li > a.sf-with-ul::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -1px;
      left: 0;
      visibility: hidden;
      background-color: #7aa93c;
      opacity: 0; }
  .menu.sf-arrows .sf-with-ul {
    position: relative; }
    .menu.sf-arrows .sf-with-ul::after {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: "revicons";
      font-style: normal;
      font-weight: normal;
      content: '\e83b';
      font-size: 1rem;
      line-height: 1; }
  .menu.sf-arrows ul .sf-with-ul::after {
    right: 1rem;
    content: '\e81a'; }
  .menu .megamenu {
    background-color: #fff;
    -webkit-box-shadow: 0 29px 29px rgba(0, 0, 0, 0.1);
    box-shadow: 0 29px 29px rgba(0, 0, 0, 0.1); }
  .menu ul {
    background-color: #fff;
    -webkit-box-shadow: 0 29px 29px rgba(0, 0, 0, 0.1);
    box-shadow: 0 29px 29px rgba(0, 0, 0, 0.1);
    min-width: 240px;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .menu .megamenu {
    padding: 1rem; }
    .menu .megamenu ul {
      display: block;
      position: static;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      min-width: 0;
      margin: 0 0 1.25rem;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .menu .megamenu .banner {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      background-color: transparent; }
      .menu .megamenu .banner a {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0; }
      .menu .megamenu .banner img {
        position: absolute;
        height: 100%; }
        .menu .megamenu .banner img.product-promo {
          padding: 1rem; }
  .menu li.active > a, .menu li.show > a, .menu li:hover > a {
    background-color: #f4f4f4;
    color: #696969; }
  .menu > li.active > a, .menu > li.show > a, .menu > li:hover > a {
    background-color: transparent;
    color: #7aa93c; }
  .menu.sf-arrows > li.show > a.sf-with-ul::before {
    opacity: 1;
    visibility: visible; }
  .menu .show .megamenu, .menu .show ul {
    opacity: 1 !important; }

.tip {
  color: #fff;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding: .3rem .4rem;
  z-index: 1;
  border-radius: 0;
  line-height: 1;
  margin: -2px 0 0 1rem;
  vertical-align: middle;
  text-transform: uppercase; }
  .tip::before {
    position: absolute;
    top: 50%;
    right: 100%;
    left: auto;
    margin-top: -3px;
    border: 3px solid transparent;
    content: ""; }

.menu > li > a .tip {
  position: absolute;
  top: -4px;
  right: 22px;
  margin: 0; }
  .menu > li > a .tip::before {
    position: absolute;
    top: 100%;
    left: 3px;
    width: 3px;
    height: 3px;
    margin: 0;
    border-color: transparent; }

.mobile-menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 250px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  background-color: #1d1e20;
  font-size: 1.2rem;
  line-height: 1.5;
  -webkit-box-shadow: 0.1rem 0 0.6rem 0 rgba(50, 50, 50, 0.65);
  box-shadow: 0.1rem 0 0.6rem 0 rgba(50, 50, 50, 0.65);
  visibility: hidden;
  z-index: 1001;
  overflow-y: auto; }

.mmenu-active .mobile-menu-container {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible; }

.mobile-menu-container .social-icons {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 0; }

.mobile-menu-container .social-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.5rem; }
  .mobile-menu-container .social-icon + .social-icon {
    margin-left: 0.3rem; }
  .mobile-menu-container .social-icon:focus, .mobile-menu-container .social-icon:hover {
    background-color: transparent;
    color: #fafafa; }

.mobile-menu-wrapper {
  position: relative;
  padding: 4.2rem 0 3rem; }

.mobile-menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .4rem;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
  z-index: 9; }

.mobile-menu-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

.mmenu-active .mobile-menu-overlay {
  opacity: 1;
  visibility: visible; }

.mobile-nav {
  margin: 0 0 2rem;
  padding: 0; }

.mobile-menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #242527;
  list-style: none; }
  .mobile-menu > li > a {
    text-transform: uppercase; }
  .mobile-menu li {
    display: block;
    position: relative;
    border-top: 1px solid #242527; }
    .mobile-menu li a {
      display: block;
      position: relative;
      margin-right: 4.5rem;
      padding: 1.1rem 0 1.1rem 1.5rem;
      color: #fff; }
      .mobile-menu li a:focus, .mobile-menu li a:hover {
        color: #7aa93c;
        text-decoration: none; }
    .mobile-menu li.active > a, .mobile-menu li.open > a {
      color: #7aa93c; }
    .mobile-menu li ul {
      display: none;
      margin: 0;
      padding: 0; }
      .mobile-menu li ul li a {
        padding-left: 2.5rem; }
      .mobile-menu li ul ul li a {
        padding-left: 3.5rem; }

.mmenu-btn {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: absolute;
  top: 50%;
  right: -3.8rem;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; }
  .mmenu-btn::after {
    display: inline-block;
    margin-top: -2px;
    font-family: "revicons";
    font-style: normal;
    font-weight: normal;
    content: '\e83b'; }

.open > a > .mmenu-btn::after {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  content: '\e83b'; }
