// Quarto
@mixin quarto300()  { font-family: $quarto; @include fw300; }
@mixin quarto300i() { font-family: $quarto; @include fw300i; }
@mixin quarto400()  { font-family: $quarto; @include fw400; }
@mixin quarto400i() { font-family: $quarto; @include fw400i; }
@mixin quarto600()  { font-family: $quarto; @include fw600; }
@mixin quarto600i() { font-family: $quarto; @include fw600i; }
@mixin quarto700()  { font-family: $quarto; @include fw700; }
@mixin quarto700i() { font-family: $quarto; @include fw700i; }
@mixin quarto800()  { font-family: $quarto; @include fw800; }
@mixin quarto800i() { font-family: $quarto; @include fw800i; }

// Ideal Sans
@mixin ideal200()   { font-family: $ideal-sans; @include fw200; }
@mixin ideal200i()  { font-family: $ideal-sans; @include fw200i; }
@mixin ideal300()   { font-family: $ideal-sans; @include fw300; }
@mixin ideal300i()  { font-family: $ideal-sans; @include fw300i; }
@mixin ideal400()   { font-family: $ideal-sans; @include fw400; }
@mixin ideal400i()  { font-family: $ideal-sans; @include fw400i; }
@mixin ideal500()   { font-family: $ideal-sans; @include fw500; }
@mixin ideal500i()  { font-family: $ideal-sans; @include fw500i; }
@mixin ideal600()   { font-family: $ideal-sans; @include fw600; }
@mixin ideal600i()  { font-family: $ideal-sans; @include fw600i; }
@mixin ideal700()   { font-family: $ideal-sans; @include fw700; }
@mixin ideal700i()  { font-family: $ideal-sans; @include fw700i; }


@mixin fonth() {
    @include quarto800;
}

@mixin fontb() {
    font-family: $font-family-sans-serif;
}

@mixin fontm() {
    font-family: $font-family-monospace;
}

@mixin sn-icon() {
    font-family: "rivista-icons";
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}