// Font Sizes
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Font Size Responsive
@mixin fs-resp($size, $ratio-xs, $ratio-sm, $ratio-md, $ratio-lg) {
    font-size: $size * $ratio-xs; 
    
    @include media-breakpoint-up(sm) { font-size: $size * $ratio-sm; } 
    @include media-breakpoint-up(md) { font-size: $size * $ratio-md; } 
    @include media-breakpoint-up(lg) { font-size: $size * $ratio-lg; } 
    @include media-breakpoint-up(xl) { font-size: $size; } 
}

// Font Size Weight Responsive 
@mixin fsw-resp($size, $ratio-xs, $ratio-sm, $ratio-md, $ratio-lg, $weight) {
    font-weight: $weight;
    
    @include fs-resp($size, $ratio-xs, $ratio-sm, $ratio-md, $ratio-lg);
}

// Font Size Weight Line-Height Responsive 
@mixin fswl-resp($size, $ratio-xs, $ratio-sm, $ratio-md, $ratio-lg, $weight, $height) {
    font-weight: $weight;
    line-height: $height;
    
    @include fs-resp($size, $ratio-xs, $ratio-sm, $ratio-md, $ratio-lg);
}

// Display
@mixin display1() { 
    @include fswl-resp($display1-size, $display-fs-xs-ratio, $display-fs-sm-ratio, $display-fs-md-ratio, $display-fs-lg-ratio, $display1-weight, $display-line-height);
    margin-bottom: 15px;
}
@mixin display2() { 
    @include fswl-resp($display2-size, $display-fs-xs-ratio, $display-fs-sm-ratio, $display-fs-md-ratio, $display-fs-lg-ratio, $display2-weight, $display-line-height);
}
@mixin display3() { 
    @include fswl-resp($display3-size, $display-fs-xs-ratio, $display-fs-sm-ratio, $display-fs-md-ratio, $display-fs-lg-ratio, $display3-weight, $display-line-height);
}
@mixin display4() { 
    @include fswl-resp($display4-size, $display-fs-xs-ratio, $display-fs-sm-ratio, $display-fs-md-ratio, $display-fs-lg-ratio, $display4-weight, $display-line-height); 
}

// Headings
@mixin h1() {
    @include fs-resp($h1-font-size, $headings-fs-xs-ratio, $headings-fs-sm-ratio, $headings-fs-md-ratio, $headings-fs-lg-ratio);
}
@mixin h2() {
    @include fs-resp($h2-font-size, $headings-fs-xs-ratio, $headings-fs-sm-ratio, $headings-fs-md-ratio, $headings-fs-lg-ratio);
}
@mixin h3() {
    @include fs-resp($h3-font-size, $headings-fs-xs-ratio, $headings-fs-sm-ratio, $headings-fs-md-ratio, $headings-fs-lg-ratio);
}
@mixin h4() {
    @include fs-resp($h4-font-size, $headings-fs-xs-ratio, $headings-fs-sm-ratio, $headings-fs-md-ratio, $headings-fs-lg-ratio);
}
@mixin h5() {
    @include fs-resp($h5-font-size, $headings-fs-xs-ratio, $headings-fs-sm-ratio, $headings-fs-md-ratio, $headings-fs-lg-ratio);
}
@mixin h6() {
    @include fs-resp($h6-font-size, $headings-fs-xs-ratio, $headings-fs-sm-ratio, $headings-fs-md-ratio, $headings-fs-lg-ratio);
}

// Lead
@mixin lead() {
    @include fsw-resp($lead-font-size, $body-fs-xs-ratio, $body-fs-sm-ratio, $body-fs-md-ratio, $body-fs-lg-ratio, $lead-font-weight);
}

// Body
@mixin font-size-base() {
    @include fsw-resp($font-size-base, $body-fs-xs-ratio, $body-fs-sm-ratio, $body-fs-md-ratio, $body-fs-lg-ratio, $font-weight-base);
}
@mixin font-size-lg() {
    @include fsw-resp($font-size-lg, $body-fs-xs-ratio, $body-fs-sm-ratio, $body-fs-md-ratio, $body-fs-lg-ratio, $font-weight-base);
}
@mixin font-size-sm() {
    @include fsw-resp($font-size-sm, $body-fs-xs-ratio, $body-fs-sm-ratio, $body-fs-md-ratio, $body-fs-lg-ratio, $font-weight-base);
}