// Font Weights & Style
@mixin fw200    { font-weight: 200; }
@mixin fw200i   { font-weight: 200; font-style: italic; }
@mixin fw300    { font-weight: 300; }
@mixin fw300i   { font-weight: 300; font-style: italic; }
@mixin fw400    { font-weight: 400; }
@mixin fw400i   { font-weight: 400; font-style: italic; }
@mixin fw500    { font-weight: 500; }
@mixin fw500i   { font-weight: 500; font-style: italic; }
@mixin fw600    { font-weight: 600; }
@mixin fw600i   { font-weight: 600; font-style: italic; }
@mixin fw700    { font-weight: 700; }
@mixin fw700i   { font-weight: 700; font-style: italic; }
@mixin fw800    { font-weight: 800; }
@mixin fw800i   { font-weight: 800; font-style: italic; }

// Italic
@mixin italic { font-syle: italic; }